*{
background-color: #E8CEBF;

}

h1 {
    font-size: 4rem;
    color: #FDF8F5;
    font-weight: 600;
    padding: 20px;
}

h2 {
    font-size: 1.5rem;
    color: #FDF8F5;
    padding: 20px;
}

h3 {
    font-size: 1.3rem;
    color: #4F4846;
    padding: 20px;
}

nav{
    padding: 20px;
}

button {
    background-color: #DDAF94;
    color: #266150;
    text-decoration: none;
    padding: 20px;
    border: 4px double #FDF8F5;
    border-radius: 10px;
    transition-duration: .3s;
}
button:hover {
    background-color: #FDF8F5;
    border: 4px double #DDAF94;
}

ol,
ul {
padding: 40px;

}
.ingridients,
.steps {
    background-color: #DDAF94;
}

#ukrainian_garlic_bread,
#borsch,
#potato_varenyky{
    background-color: #266150;
}

button {
    padding: 20px;
}


